themes {
  matugen {
    bg "#5b6078" // Surface2
    fg   "#f2dfd1"// Text
    red   "#ffb4ab"
		green   "#c6c0ff"
    blue   "#b1cfa9"
    yellow   "#94d4b8"
    magenta   "#b1cfa9"
    orange  "#c6c0ff"
    cyan   "#94d4b8"
    black  "#1a1209"
    white  "#f2dfd1"// Text
  }
}
