themes {
  matugen {
    bg "#5b6078" // Surface2
    fg   "#e6e1e3"// Text
    red   "#ffb4ab"
		green   "#ccc2dc"
    blue   "#cac4cf"
    yellow   "#e1bdca"
    magenta   "#cac4cf"
    orange  "#ccc2dc"
    cyan   "#e1bdca"
    black  "#141315"
    white  "#e6e1e3"// Text
  }
}
